<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MAUI ESL Programs</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WordJumbler">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> WordJumbler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SentenceScrambler">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SentenceScrambler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StoryShuffler">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> StoryShuffler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WordSearchGenerator">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> WordSearchGenerator
            </NavLink>
        </div>
    </nav>
</div>