@page "/"

<h1>MAUI ESL Programs</h1>
<p>MAUI ESL Programs is a collection of tools to assist ESL teachers in creating everyday content for their students.</p>
<p>These include:</p>
<ul>
    <li>Word Jumbler</li>
    <li>Sentence Scrambler</li>
    <li>Story Shuffler</li>
    <li>Word Search Generator</li>
</ul>